.libs
.deps
build
include
modules
autom4te.cache
acinclude.m4
aclocal.m4
config*
!config.m4
libtool
Makefile*
run-tests.php
install-sh
ltmain.sh
missing
mkinstalldirs
*.o
*.lo
*.la
*.diff
*.exp
*.log
*.out
*.php
*.sh
